<div id="tweet-{-id_str}" x-mojo-tap-highlight='immediate' class="status-row #{-cssClass}">
	<div class="palm-row-wrapper row-wrapper">
       	<div class="tweet-avatar" style="background-image: url(#{profile_image_url});"></div>
       	<div class="content-wrapper">
        	<div class='tweet-username'>#{-from_user}</div>
			<div class='tweet-text'>#{-text}</div>
			<div class='tweet-footer'><span class="top-tweet">#{-toptweet}</span> #{-time_str} <!-- #{-source} --></div>
		</div>
		<div style="clear:both"></div>
	</div>
	<div class="new-indicator">#{-dividerMessage}</div>
</div>