<div id="scene-wrapper">
	<div id="header">
		<div id="refresh" class="header-icon left"></div>
		<div id="header-title" class="header-title"></div>
		<div id="new-tweet" class="header-icon right"></div>
		<div style="clear: both"></div>
	</div>
	<div id="shadow"></div>
	<div id="scene-container">
		<div x-mojo-element="Scroller" id="sideScroller">
			<div id="scrollItems" class="scrollerContainer">
				<!-- panels get auto-rendered here! -->
			</div>
		</div>
	</div>
</div>
<div id="toasters">
	<!-- Toaster pop-ups are contained in here -->
</div>
<div id="shim" class="ignore">
	<!-- This is a dark shim that covers the content underneath toasters -->
</div>
<div id="image-preview" align="center">
	<img id="preview" src="" />
</div>
<div id="nav-bar" class="ignore">
	<div id="indicator" class="first">
		<!-- This arrow slides around to show which section is active -->
	</div>
	<div id="nav-home" class="nav-icon">
		<div id="home-beacon" class="beacon"></div>
	</div>
	<div id="nav-mentions" class="nav-icon">
		<div id="mentions-beacon" class="beacon"></div>
	</div>
	<div id="nav-messages" class="nav-icon">
		<div id="messages-beacon" class="beacon"></div>
	</div>
	<div id="nav-lists" class="nav-icon">
		<div id="lists-beacon" class="beacon"></div>
	</div>
	<div id="nav-search" class="nav-icon last">
		<div id="search-beacon" class="beacon"></div>
	</div>
</div>