#new-tweet{
	background: url(../images/low/icons/dark/new.png) no-repeat center top;
}
#submit-tweet{
	background: url(../images/low/icons/dark/checkmark.png) no-repeat center top;
}
#new-account{
	background: url(../images/low/icons/dark/new.png) no-repeat center top;
}
#refresh{
	background: url(../images/low/icons/dark/refresh.png) no-repeat center top;
}
#cmd-search{
	background: url(../images/low/icons/dark/search.png) no-repeat center top;
}
#attach{
	background: url(../images/low/icons/dark/photo.png) no-repeat center top;
}
#geotag{
	background: url(../images/low/icons/dark/geotag.png) no-repeat center top;
}
#urls{
	background: url(../images/low/icons/dark/urls.png) no-repeat center top;
}

#reply{
	background: url(../images/low/icons/dark/reply2.png) no-repeat center top;
}
#retweet{
	background: url(../images/low/icons/dark/retweet.png) no-repeat center top;
}
#repost{
	background: url(../images/low/icons/dark/repost.png) no-repeat center top;
}
#favorite{
	background: url(../images/low/icons/dark/favorite.png) no-repeat center top;
}
#profile{
	background: url(../images/low/icons/dark/profile.png) no-repeat center top;
}
#convo{
	background: url(../images/low/icons/dark/convo.png) no-repeat center top;
}
#more{
	background: url(../images/low/icons/dark/more.png) no-repeat center top;
}
#confirm-rt{
	background: url(../images/low/icons/dark/confirm.png) no-repeat center top;
}
#edit-rt{
	background: url(../images/low/icons/dark/edit.png) no-repeat center top;
}
#delete{
	background: url(../images/low/icons/dark/delete.png) no-repeat center top;
}
#dm{
	background: url(../images/low/icons/dark/dm.png) no-repeat center top;
}

