@font-face {
  font-family: "ComfortaaThin";
  src: url(../fonts/comfortaa/ComfortaaThin.ttf) format("truetype");
}
@font-face {
  font-family: "Comfortaa";
  src: url(../fonts/comfortaa/ComfortaaRegular.ttf) format("truetype");
}