<div id="toaster-#{-toasterId}" class="toaster compose">
	<div class="compose-wrapper">
		<div id="dm-#{-toasterId}" class="dm-title">Direct message to @#{-to}</div>
		<div class="compose-txt">
			<textarea id="txtCompose-#{-toasterId}"></textarea>
			<div id="count-#{-toasterId}" class="counter">140</div>
		</div>
	</div>
	<div class="compose-opts">
		<div class="compose-opts-wrapper" align="center">
			<div id="photo-#{-toasterId}" class="compose-button photo" x-mojo-tap-highlight="immediate"></div>
			<div id="geotag-#{-toasterId}" class="compose-button geotag" x-mojo-tap-highlight="immediate"></div>
			<div id="link-#{-toasterId}" class="compose-button link" x-mojo-tap-highlight="immediate"></div>			
			<div id="submit-#{-toasterId}" class="compose-submit" x-mojo-tap-highlight="immediate">Post Tweet</div>
			<div style="clear:both"></div>
		</div>
	</div>
</div>