<div id="toaster-#{-toasterId}" class="toaster">
	<div class="toaster-wrapper">
		<div id="details-#{-toasterId}" class="status-row details">
			#{-tweetHtml}
		</div>
	</div>
	<div class="toaster-controls" align="center">
		<div id="delete-#{-toasterId}" class="toaster-button delete" x-mojo-tap-highlight="immediate"></div>
		<div id="dm-#{-toasterId}" class="toaster-button dm" x-mojo-tap-highlight="immediate"></div>
		<div id="reply-#{-toasterId}" class="toaster-button reply" x-mojo-tap-highlight="immediate"></div>
		<div id="retweet-#{-toasterId}" class="toaster-button retweet" x-mojo-tap-highlight="immediate"></div>
		<div id="favorite-#{-toasterId}" class="toaster-button favorite" x-mojo-tap-highlight="immediate"></div>
		<div id="convo-#{-toasterId}" class="toaster-button convo" x-mojo-tap-highlight="immediate"></div>
		<!-- <div id="opts-#{-toasterId}" class="toaster-button opts" x-mojo-tap-highlight="immediate"></div> -->
	</div>
</div>
