<div id="scene-wrapper">
	<div id="header">
		<div id="refresh" class="header-icon left"></div>
		<div id="header-title" class="header-title"></div>
		<div id="new-card" class="header-icon right"></div>
		<div style="clear: both"></div>
	</div>
	<div id="scene-container">
		<img src="images/low/list-spacer.png" width="5" height="39" />
		<div x-mojo-element="List" id="list-items" class="timeline-list"></div>
		<div id="more" class="load-more" x-mojo-tap-highlight="immediate">
			Load More Tweets
		</div>
		<img src="images/low/list-spacer.png" width="5" height="45" />
	</div>
</div>
<div id="toasters">
	<!-- Toaster pop-ups are contained in here -->
</div>
<div id="shim" class="ignore">
	<!-- This is a dark shim that covers the content underneath toasters -->
</div>
<div id="nav-bar" class="ignore"></div>
<div id="footer"></div>