<div class="panel" id="panel-#{-id}">
	<div id="#{-id}-scroller" x-mojo-element="Scroller">
		<div id="spacer"></div>
		<div id="your-lists" class="panel-list-wrapper" style="display: none">
			<div class="panel-list-title">Your Lists</div>
			<div class="panel-list">
				<div id="your-lists-list" x-mojo-element="List"></div>
			</div>
		</div>
		<div id="lists-you-follow" class="panel-list-wrapper" style="display: none">
			<div class="panel-list-title">Lists You Follow</div>
			<div class="panel-list">
				<div id="lists-you-follow-list" x-mojo-element="List"></div>
			</div>
		</div>
		<div id="retweets" class="panel-list-wrapper">
			<div class="panel-list-title">Retweets</div>
			<div class="panel-list">
				<div id="rt-others" class="search-list-item first" x-mojo-tap-highlight="immediate">
					Retweets by others
				</div>
				<div id="rt-yours" class="search-list-item" x-mojo-tap-highlight="immediate">
					Retweets by you
				</div>
				<div id="rt-ofyou" class="search-list-item last" x-mojo-tap-highlight="immediate">
					Your tweets, retweeted
				</div>
			</div>
		</div>
		<img src="images/low/list-spacer.png" width="5" height="45" />
	</div>
</div>