<div class="panel" id="panel-#{-id}">
	<div id="#{-id}-scroller" x-mojo-element="Scroller">
		<div class="search-wrapper">
			<div class="search-box">
				<textarea id="txtSearch" disabled="disabled" rows="1"></textarea>
			</div>
		</div>
		<div id="saved-searches" class="panel-list-wrapper" style="display: none">
			<div class="panel-list-title">Saved Searches</div>
			<div class="panel-list">
				<div id="saved-searches-list" x-mojo-element="List"></div>
			</div>
		</div>
		<div id="trending-topics" class="panel-list-wrapper">
			<div class="panel-list-title">Trending Topics</div>
			<div class="panel-list">
				<div id="trending-topics-list" x-mojo-element="List"></div>
			</div>
		</div>
		<img class="nav-bar-spacer" src="images/low/list-spacer.png" width="5" height="45" />
	</div>
</div>