<div id="success-scene">
	<div id="success-title">
		<img src="images/low/success.png" />
	</div>
	<div id="success-instructions">
		Would you like to follow one of these great accounts?
	</div>
	<div id="follow">
		<div id="phnxapp" class="suggested-user">
			<table width="100%" border="0">
			    <tr>
			        <td valign="top" width="40">
			        	<div class="tweet-avatar" style="background-image: url(http://api.twitter.com/1/users/profile_image/phnxapp.json?size=bigger);"></div>
			        </td>
			        <td>
			        	<div class="content-wrapper">
				        	<div class='tweet-username'>phnxapp</div>
							<div class='tweet-text success'>The official phnx Twitter account.</div>
						</div>
			        </td>
			    </tr>
			</table>
		</div>
		<div id="rmxdave" class="suggested-user">
			<table width="100%" border="0">
			    <tr>
			        <td valign="top" width="40">
			        	<div class="tweet-avatar" style="background-image: url(http://api.twitter.com/1/users/profile_image/rmxdave.json?size=bigger);"></div>
			        </td>
			        <td>
			        	<div class="content-wrapper">
				        	<div class='tweet-username'>rmxdave</div>
							<div class='tweet-text success'>The developer of phnx &amp; a pretty decent guy.</div>
						</div>
			        </td>
			    </tr>
			</table>
		</div>
	</div>
	<div class="small-text">Tap to follow</div>
</div>
<div id="next"></div>