<div id="success-scene" class="palm-dark">
	<div class="scene-title">Welcome to <strong>phnx</strong> :)</div>
	<div class="section-header">
		<span>Tap an account to follow us!</span>
	</div>
	<div class="panel-list-wrapper">
		<div class="panel-list">
			<div id="phnxapp" class="search-list-item first" x-mojo-tap-highlight="immediate">
				<table width="100%" border="0">
				    <tr>
				        <td valign="top" width="40">
				        	<div class="tweet-avatar" style="background-image: url(http://api.twitter.com/1/users/profile_image/phnxapp.json?size=bigger);"></div>
				        </td>
				        <td>
				        	<div class="content-wrapper">
					        	<div class='tweet-username'>phnxapp</div>
								<div class='tweet-text success'>The official phnx Twitter account.</div>
							</div>
				        </td>
				    </tr>
				</table>
			</div>
			<div id="rmxdave" class="search-list-item last" x-mojo-tap-highlight="immediate">
				<table width="100%" border="0">
				    <tr>
				        <td valign="top" width="40">
				        	<div class="tweet-avatar" style="background-image: url(http://api.twitter.com/1/users/profile_image/rmxdave.json?size=bigger);"></div>
				        </td>
				        <td>
				        	<div class="content-wrapper">
					        	<div class='tweet-username'>rmxdave</div>
								<div class='tweet-text success'>The developer of phnx &amp; a pretty decent guy.</div>
							</div>
				        </td>
				    </tr>
				</table>
			</div>
		</div>
	</div>
	<div class="button-wrapper">
		<div id="next-button" x-mojo-tap-highlight="immediate" class="button signin">Open my account</div>
	</div>
</div>